{% extends 'base.html' %}
{% block titulo_pagina %}Cadastro de Funcionários{% endblock %}
{% block conteudo %}
    <form action="." method="post">
        {% csrf_token %}
        <div class="col-md-7">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="col-md-5">
            {{ form.function.label_tag }}
            {{ form.function }}
        </div>
        <div class="col-md-2">
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
        </div>
        <div class="col-md-2">
            {{ form.cep.label_tag }}
            {{ form.cep }}
        </div>
        <div class="col-md-3">
            {{ form.rg.label_tag }}
            {{ form.rg }}
        </div>
        <div class="col-md-2">
            {{ form.sex.label_tag }}
            {{ form.sex}}
        </div>
        <div class="col-md-2">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="col-md-1">
            {{ form.active.label_tag }}
            {{ form.active }}
        </div>
        <div class="col-md-2">
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>
        <div class="col-md-2">
            {{ form.watsapp.label_tag }}
            {{ form.watsapp }}
        </div>
        <div class="col-md-3">
            {{ form.date_register_in_company.label_tag }}
            {{ form.date_register_in_company }}
        </div>
        <div class="col-md-3">
            {{ form.birth_day.label_tag }}
            {{ form.birth_day }}
        </div>
        <div class="col-md-2">
            {{ form.district.label_tag }}
            {{ form.district }}
        </div>
        <div class="col-md-3">
            {{ form.city.label_tag }}
            {{ form.city }}
        </div>
        <div class="col-md-3">
            {{ form.street.label_tag }}
            {{ form.street }}
        </div>
        <div class="col-md-2">
            {{ form.salary.label_tag }}
            {{ form.salary.help_text }}
            {{ form.salary }}
        </div>
        <div class="col-md-12">
            {{ form.note.label_tag }}
            {{ form.note }}
        </div>
        <div class="col-md-12">
            <br>
            <button class="btn btn-success" type="submit">ENVIAR</button>
            <button class="btn btn-primary" type="reset">CANCELAR</button>
        </div>
    </form>
{% endblock %}